[Unit]
Description=RabbitMQ Messaging Server
After=network.target

[Service]
Type=simple
User=rabbitmq
SyslogIdentifier=rabbitmq
#EnvironmentFile=/etc/rabbitmq/rabbitmq-env.conf

ExecStart=/sbin/rabbitmq-server
ExecStop=/sbin/rabbitmqctl stop

[Install]
WantedBy=multi-user.target